html,
body {
  padding: 0;
  margin: 0;
}

.background {
  background-color: #633c36;
  width: 500px;
  height: 707px;
}

.title1 {
  font-family: "Libre Franklin", sans-serif;
  color: #312222;
  text-align: left;
  font-size: 9.9em;
  line-height: 0.8em;
  letter-spacing: -10px;
}
.title2 {
  font-family: "Libre Franklin", sans-serif;
  color: #312222;
  font-size: 10.1em;
  line-height: 0.8em;
  letter-spacing: -10px;
}
.redbox {
  width: 11.1cm;
  background-color: #b72e2c;
  padding-left: 0.2cm;
  padding-top: 250px;
  margin: 0.5cm;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  color: #312222;
}
