html,
body {
  padding: 0;
  margin: 0;
}

.background {
  background-color: #633c36;
  width: calc(1.2 * 500px);
  height: calc(1.2 * 707px);
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  animation-name: background1;
  animation-duration: 8s;
  animation-iteration-count: 10;
  animation-delay: 2s;
}

@keyframes background1 {
  0% {
    background-color: #633c36;
  }
  75% {
    background-color: black;
  }
  100% {
    background-color: #633c36;
  }
}

/* .background:hover { 
  background-color: blue;
  width: calc(1.2 * 500px);
  height: calc(1.2 * 707px);
}*/

.title1 {
  font-family: "Libre Franklin", sans-serif;
  color: #312222;
  text-align: left;
  font-size: calc(1.2 * 9.8em);
  line-height: calc(1.2 * 0.8em);
  letter-spacing: calc(1.2 * -10px);
  transition-timing-function: ease-in-out;
  animation-name: title1;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes title1 {
  0% {
    color: #633c36;
    transform: scale(0);
  }
  75% {
    color: #b72e2c;
  }
  100% {
    color: #312222;
    scale: 5%;
    transform: translate(0px, 10px);
    transform: scale(1);
  }
}

.title2 {
  font-family: "Libre Franklin", sans-serif;
  color: #312222;
  font-size: calc(1.2 * 10.1em);
  line-height: calc(1.2 * 0.8em);
  letter-spacing: calc(1.2 * -10px);
  transition-timing-function: ease-in-out;
  animation-name: title2;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes title2 {
  0% {
    color: #633c36;
    transform: scale(0);
  }
  75% {
    color: #b72e2c;
  }
  100% {
    color: #312222;
    scale: 5%;
    transform: translate(0px, 10px);
    transform: scale(1);
  }
}
.redbox {
  font-family: "Libre Franklin", sans-serif;
  font-size: calc(1.2 * 20px);
  color: #312222;
  width: 9.87cm;
  background-color: #b72e2c;
  padding-left: 6cm;
  padding-top: 250px;
  margin: 0;
  transition-property: all;
  transition-timing-function: ease-in-out;
  animation-name: redbox1;
  animation-iteration-count: 1;
  animation-duration: 6s;
}

@keyframes redbox1 {
  0% {
    margin-left: 0.2cm;
    padding-left: 0cm;
    width: 4cm;
  }
  25% {
    transform: rotate(360deg);

    margin: 0cm;
  }
  50% {
    padding-top: 250px;
  }
  75% {
  }
  100% {
    transform: scale (1.5, 2);
    transform: rotate(360deg);
    padding-top: 250px;
    width: 9.87cm;
    margin: 0cm;
    padding-bottom: 0px;
    padding-left: 6cm;
  }
}

.redbox:hover {
  font-family: "Libre Franklin", sans-serif;
  color: #b72e2c;
  background-color: #312222;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transform: rotate(360deg);
  width: 4cm;
  padding-left: 0.2cm;
}
